@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


  .bold{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    
  }
  .wrapper{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center;
  }
  
  .slider_holder{
    padding: 0 30px;
  }
  h2{
    
    margin-top: 25px;
    text-align: center;
  }
  .zagolovok{
    text-align: center;
  }
.main-tovar{
    flex-direction: row; 
    flex-wrap: wrap; 
    display: flex;
  }
  

.tovar {
    margin: 10px;
    padding: 10px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.6);
    
  }
 .tovar img {
    margin: 0 auto;
    width: 100%;
  }
 .tovar p {
   height: 20px;
    margin: 0 auto;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
button{
    outline: none;
  }

.podrobnee {
    margin-left: 10%;
    width: 80%;
    height: 42px;
    background: red;
    border: 2px solid #3e3d3d;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #434242;
    transition-duration: 0.5s;
  }

  
  .page-tovar .tovar{
    width: 243px;
  }

  
  .slick-prev:before, .slick-next:before{
    color: black;
    font-size: 30px;
  }
  @media (max-width: 767px) {
    iframe {
      display: none;
    }
  }
  @media (max-width: 330px) {
    .slick-dots{
      bottom: -50px;
    }
  }