@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.menu_item{
  text-decoration:none !important;
}

.header{
  padding: 0;
}
.nav-yellow {
  background-color: #f9c402;
}
.nav-yellow img {
  width: 250px;
  height: 100%;
}
.nav-yellow button {
  margin-top: 10px;
  width: 160px;
  height: 55px;
  background: #f9c402;
  border: 2px solid #434242;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
  color: #434242;
}
.ico-busket button{
  width: 100% !important;
  background-color: white;
}
.menu_item{
 margin: auto 15px;
 display: flex;
 flex-wrap: wrap;
}

.busket-logo{
 position: relative !important;
 width: 50px !important;
 height: 50px !important;
}

.nav-yellow button:hover {
  background: #434242;
  color: #ffffff;
  border: solid #f9c402;
}
.nav-yellow p {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  
  align-items: center;
  text-align: center;
}
.nav-black {
  background-color: #434242;
}
.nav-black button {
  margin-top: 13px;
  margin-bottom: 13px;
  width: 160px;
  height: 47.22px;
  background: #434242;
  border: 2px solid #f9c402;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #f9c402;
  transition-duration: 0.3s;
}
.nav-black button:hover {
  background: #f9c402;
  color: #434242;
  border: solid #434242;
}

button:focus {
  outline:0 !important
}
a{
  text-decoration: none;
}
.collum{
  display: inline-flex
}


@media (max-width: 1199px) {
  .menu_item{
    margin: 0 auto;
    margin-right: 15px;
  }
  .menu_item button{
    margin-right: 15px;
  }
  .last button, .last1 button{
    margin-right: 0px;
  }
.nav-yellow button, .navbar-toggler, .menu_item{ 
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    }
    .navbar-brand{
      margin: 0 auto !important;
      }
} 

@media (max-width: 1199px) and (min-width: 767px) {
  .nav-black{
    display: flex;
  }
  .collum{
      margin: 0 auto;
      text-align: center;
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      white-space: wrap;
      display: flex;   
      flex-wrap: wrap;
      justify-content: center;
  }
}
@media (max-width: 638px) {
  .collum, .navbar-toggler{
    display: block;
    margin: 0 auto;
  }
  .menu_item button{
    margin-right: 0px;
  }
}
